body{
    font-family: $font-family;
    min-height: 100%;
    display: flex;
    

    #app {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        article {
            &.container {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                padding: 1.25em;

                max-width: 1000px;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}
.p-float-label{
    margin: 1.25em 0;
}
p{
    margin: 1.25em 0;
}
h1{
    font-size: 1.4rem;
    margin: 1.75em 0 1.25em;
}