$color-background: hsl(0, 0%, 5%);
$color-secondary-background: hsl(220, 0%, 3%);
$color-background-nav: #0a0a0a;

$color-font: #ddd;
$color-font-primary: hsl(220, 100%, 62%);
$color-link: hsl(220, 100%, 62%);
$color-link-hover: hsl(220, 100%, 80%);
$color-link-nav: hsl(220, 100%, 62%);

$font-family: 'Source Sans Pro', sans-serif;
$font-family-mono: 'Source Code Pro', sans-serif;